__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python
*.so
*.egg
*.egg-info/
dist/
build/
*.log
.env
venv/
env/
myenv/
.venv/
db.sqlite3
*.sqlite3
*.db
media/
staticfiles/
*.pid
celerybeat-schedule
celerybeat.pid
.dockerignore
.vscode/
.idea/
*.swp
*.swo
.DS_Store
Thumbs.db
*.pem
*.key
/mnt/
